.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  contain: layout paint style;
}
.image {
  align-self: stretch;
  aspect-ratio: 3/2;
}
.image > img {
  object-fit: cover;
  width: 100%;
  border-radius: var(--radius) var(--radius) 0 0;
  pointer-events: none;
  touch-action: none;
}
.content {
  display: flex;
  padding: 10px;
}
